.featureContainer {
  padding: 60px 15% 40px 15%;
  margin: auto;
  display: grid;
  max-width: 1200px;
}

.featureDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

.featureText {
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 700px;
}

.featureTitle {
  margin-bottom: 11px;
}

.featurePara {
  margin-bottom: 20px;
}

.image {
  border-radius: 5%;
  width: 100%;
  max-width: 560px;
  max-height: 681px;
}

@media (max-width: 768px) {
  .featureContainer {
    padding: 60px 10%;
  }
}

@media (max-width: 500px) {
  .featureDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .featureContainer {
    padding: 60px 5%;
  }
}
