/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 5%;
  max-width: 1600px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--black);
}

.navigation a:hover {
  color: var(--brand-medium);
}

.proposalBtn {
  background-color: var(--brand-medium);
  color: var(--white-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 38px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 8px;
}

.proposalBtn:hover {
  background-color: #c13c27;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

/* Transform hamburger into cross */
.cross .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.cross .bar:nth-child(2) {
  opacity: 0;
}

.cross .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 40px;
  }

  .navigation {
    display: none;
  }

  .menuOpen {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #fff;
  }

  .navItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
}
