:root {
  --primary: #222222;
  --secondary: #3c3c3c;
  --black: #000000;
  --gray: #555555;
  --light-gray: #696969;
  --white-primary: #ffffff;
  --white-secondary: #f2f2f7;
  --brand-medium: #e51e35;
  --neutrals: #111022;
  --border-neutral: #d4d4d4;
  --accent-medium: #ff9b00;
  --yellow: #ffd84f;
  --link-gray: #a5a5a5;
  --error: #e6192d;
}

body {
  margin: 0;
  font-family: "Public Sans";
}

@font-face {
  font-family: "Public Sans";
  src: url("./../../../../public/assets/fonts/PublicSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../../../../public/assets/fonts/PublicSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../../../../public/assets/fonts/PublicSans-Bold.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../../../../public/assets/fonts/publicSans-semibold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TrashHand";
  src: url("./../../../../public/assets/fonts/TrashHand.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
