.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

.body {
  font-size: 2rem;
}

.black {
  color: var(--black);
}
.white {
  color: var(--white);
}
.gray {
  color: var(--gray);
}
.lightgray {
  color: var(--lightgray);
}
.error {
  color: var(--error);
}