.teamTitle {
  text-align: center;
  display: grid;
  gap: 11px;
  margin-bottom: 40px;
  margin-top: 60px;
  padding: 60px 5% 0 5%;
}

.allMembersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 10% 60px 10%;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.marqueeContainer {
  padding-bottom: 20px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .allMembersContainer {
    padding: 0px 10% 60px 10%;
  }

  .teamTitle {
    padding: 40px 5% 0 5%;
  }
}
